@import url('css/fonts.css');
@import url('css/icomoon.css');

html {
  scroll-behavior: smooth
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Montserrat',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    height: 100%;
}

.header {
  width: 100%;
  margin-bottom: 30px;
  font-size: 42px;
  font-weight: 300;
}

.content-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  padding-bottom: 70px;
}

.profile__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  padding: 30px;
}
.profile__content button {
  margin-top: 30px;
}

@media (max-width: 1280px) {
    .container {
        max-width: 1140px;
      }
}

@media (max-width: 900px) {
    .container {
        max-width: 800px;
      }
}